// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$react-name: 'react';
$react-x: 0px;
$react-y: 0px;
$react-offset-x: 0px;
$react-offset-y: 0px;
$react-width: 150px;
$react-height: 145px;
$react-total-width: 306px;
$react-total-height: 145px;
$react-image: '~sprite.png';
$react: (0px, 0px, 0px, 0px, 150px, 145px, 306px, 145px, '~sprite.png', 'react', );
$redux-logo-name: 'redux_logo';
$redux-logo-x: 150px;
$redux-logo-y: 0px;
$redux-logo-offset-x: -150px;
$redux-logo-offset-y: 0px;
$redux-logo-width: 156px;
$redux-logo-height: 122px;
$redux-logo-total-width: 306px;
$redux-logo-total-height: 145px;
$redux-logo-image: '~sprite.png';
$redux-logo: (150px, 0px, -150px, 0px, 156px, 122px, 306px, 145px, '~sprite.png', 'redux_logo', );
$retina-react-name: 'retina_react';
$retina-react-x: 0px;
$retina-react-y: 0px;
$retina-react-offset-x: 0px;
$retina-react-offset-y: 0px;
$retina-react-width: 300px;
$retina-react-height: 289px;
$retina-react-total-width: 612px;
$retina-react-total-height: 289px;
$retina-react-image: '~sprite@2x.png';
$retina-react: (0px, 0px, 0px, 0px, 300px, 289px, 612px, 289px, '~sprite@2x.png', 'retina_react', );
$retina-redux-logo-name: 'retina_redux_logo';
$retina-redux-logo-x: 300px;
$retina-redux-logo-y: 0px;
$retina-redux-logo-offset-x: -300px;
$retina-redux-logo-offset-y: 0px;
$retina-redux-logo-width: 312px;
$retina-redux-logo-height: 244px;
$retina-redux-logo-total-width: 612px;
$retina-redux-logo-total-height: 289px;
$retina-redux-logo-image: '~sprite@2x.png';
$retina-redux-logo: (300px, 0px, -300px, 0px, 312px, 244px, 612px, 289px, '~sprite@2x.png', 'retina_redux_logo', );
$spritesheet-width: 306px;
$spritesheet-height: 145px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($react, $redux-logo, );
$spritesheet: (306px, 145px, '~sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 612px;
$retina-spritesheet-height: 289px;
$retina-spritesheet-image: '~sprite@2x.png';
$retina-spritesheet-sprites: ($retina-react, $retina-redux-logo, );
$retina-spritesheet: (612px, 289px, '~sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$react-group-name: 'react';
$react-group: ('react', $react, $retina-react, );
$redux-logo-group-name: 'redux_logo';
$redux-logo-group: ('redux_logo', $redux-logo, $retina-redux-logo, );
$retina-groups: ($react-group, $redux-logo-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
